Hello <%=@email%>,

You've been invited to <%=@organization.name%> on <a href='https://www.getguesstimate.com'>Guesstimate</a>. As soon as you sign up 
with the email address `<%=@email%>', you'll be added to <%=@organization.name%> and can start making collaborative models.

Click <a href='<%=@redirect_url%>'>here</a> to sign in and claim your invite.

Happy Modeling!
- The Guesstimate Team
