Hello <%=@user.name%>,

You've been invited to <%=@organization.name%> on <a href='https://www.getguesstimate.com'>Guesstimate</a>. We've set
you up with a temporary account at `<%=@user.email%>', with password `<%=@password%>'.

Click <a href='<%=@redirect_url%>'>here</a> to sign in and claim your invite.

Happy Modeling!
- The Guesstimate Team
